# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
/frontend/ @elianiva 
/rce/ @aldy505
/logger/ @aldy505
/backend/ @ronnygunawan
/proto/ @ronnygunawan
/worker/ @artileda
/data/ @artileda
/dummy/ @herlangga72