.language {
    display: inline;
  }

.heading {
    font-size: 20px;
    color: black;
  }

#source {
    width: 100% !important;
    background: #FFFFFF;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
  }

#input {
    background: #FFFFFF;
    width: 100%;
    resize: vertical;
    font-size: 15px;
  }

#output {
    background: #FFFFFF;
    width: 100%;
    height: 50vh;
    resize: vertical;
    font-size: 17px;
  }

.language {
    width: 100%;
  }

p {
    user-select: none;
  }

button {
  height: auto;
  display: inline-block;
  } 

.questions {
  background: #FFFFFF;
  resize: vertical;
  font-size: 17px;
}

.questionNo {
  display: inline-block;
  text-align: center;
  position:relative;
  vertical-align:middle;
}

img {
  max-width: 100%;
}

.inputTxt {
  height: 7.5% !important;
  display: inline;
}