[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb-client = {extras = ["ciso"], version = "*"}
python-dotenv = "*"

[dev-packages]
black = "*"
coverage = "*"

[requires]
python_version = "3.10"
